<footer class="site-footer">

<div class="bottom-banner light-blue">
	<div class="inner">
		
		<div class="nav">
			<ul class = "bottom-banner-menu">
				<li><a href = "mailto:dept.inc@kasu.edu.ng" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
				<li><a href="https://www.kasu.edu.ng/accessibility-resources" target="_blank" rel="noopener noreferrer">Accessibility</a></li>
		        <li><a href="www.kasu.edu.ng/website-privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a></li>
	    	    <li><a href="www.kasu.edu.ng/terms-of-use" target="_blank" rel="noopener noreferrer">Terms of Use</a></li>
	        	<li><a href="www.kasu.edu.ng/azlist" target="_blank" rel="noopener noreferrer">A-Z Website List</a></li>
			</ul>
		</div>

		<div>
			© 2025 Department of Intelligent Computing, KASU
		</div>

	</div>
</div>

</footer>